/* MAIN */

* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
}

h2,
p,
h3 {
    margin: 1em 0;
}
ul {
    margin-left: 2em;
}

a {
    color: #f0a202;
}

body {
    margin: 0;
    padding: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.dnone {
    display: none !important;
}

/* NAVBAR */

nav,
nav * {
    z-index: 11000;
}

nav {
    display: flex;
    width: 100vw;
    margin: 0;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
    background: linear-gradient(#422b28ff, #422b2800);
    height: 5em;
    padding-bottom: 1em;
    position: fixed;
    top: 0;
}

nav h1 {
    color: white;
}

.nav-right,
.nav-left {
    display: flex;
    align-items: center;
}

.navlink a {
    padding: 1em;
    text-decoration: none;
    color: white;
}

.navlink a.current {
    color: #f0a202;
}

.navlink:hover :not(.current) {
    color: #ffebcc;
}

#navname {
    color: white;
    text-decoration: none;
}

#nav-right-small {
    display: none;
}
#nav-right-small button {
    color: white;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
    padding: 0rem 0.3rem 0.3rem 0.3rem;
    cursor: pointer;
}

@media only screen and (max-width: 450px) {
    #nav-right-big {
        display: none;
    }
    #nav-right-small {
        display: flex;
    }
}
#nav-expanded {
    position: absolute;
    top: 4em;
    left: 0;
    transform: translateX(0);
    pointer-events: auto;
    transition: transform 0.3s ease-in-out;
}
#nav-expanded p {
    width: 120vw;
    background-color: #333;
    margin: 0;
    padding: 0;
}
#nav-expanded p a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1em 2em;
}
#nav-expanded p:has(a.current) {
    background-color: #f0a202;
}
#nav-expanded .navlink a.current {
    color: black;
}
#nav-expanded.hide {
    transform: translateX(100%);
    pointer-events: none;
}
